extends ../layout/index
block contenido
    main.container.mt-5
        .row   
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote París (en francés Paris, pronunciado Acerca de este sonido [paʁi] (?·i)) es la capital de Francia y su ciudad más poblada. Capital de la región de Isla de Francia (o "Región Parisina"), constituye el único departamento unicomunal del país. 

                p La ciudad de París, dentro de sus estrechos límites administrativos, tiene una población de 2 273 305 habitantes en 2015.2​ Sin embargo, en el siglo XX, el área metropolitana de París se expandió más allá de los límites del municipio de París

                p Durante el siglo XIX y XX junto con la ciudad de Londres, 9​París fue el centro de desarrollo de proyectos arquitectónicos dentro del marco de la Revolución Industrial y sus famosas exposiciones.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Seguro para viajar y de viaje y servicios de asistencia al viajero. Contando con el respaldo de las principales compañías de asistencia al viajero del mundo, más de 500.000 clientes 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p No esperes más y comienza una nueva aventura reservando vuelos a México, Estados Unidos, Latinoamérica y Canadá. Nuevas experiencias y recuerdos te esperan en cada uno de los más de 50 destinos a los que volamos.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precio
                    p Como es el mayor comparador de precios de viajes para el mercado hispano hablante: disfruta de la búsqueda instantánea de tarifas de cientos de agencias de viajes, aerolíneas y hoteles. 
