$primario:grey;
$secundario: white;
$colorli: yellow;


body{
    background-color: $primario;
}
h3{
    color: $secundario;
}
#clientes {
    list-style: none;
    padding: 0;

li{
    padding: 1rem;
    font-size: 1.4rem;
    background-color: blue;
    color: yellow;
    &:nth-child(2n+1){
        color: blue;
        background-color: yellow;
    }
}
}