
body{

	background-color: #F8F9FA;
	font-family: 'PT Sans', sans-serif;
	background-color: #FF8D0C;
}
.feet{
	background-color: #2DD4D7;
}
.head{
	margin-bottom: 30px;
	background-color: #ffffff;
}
.container{
	/*border: 1px solid green;*/
	
}
.imgb{
	
	text-align: center;
}
.imgb img{
	width: 80px;
	height: 80px;
	
}
.title1{
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.imgbtn{
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

}
.flecha{
	display: flex;
	align-items: center;
	justify-content: center;

}


.imgbtn img{
	width: 60px;
	height: 60px;
	margin: 2px;

}

.contenido_1{
    display: flex;
	align-items: center;
	justify-content: left;

}

.contenido_2{
    display: flex;
	align-items: center;
	justify-content: left;

}
/*
.rowy div:last-child{

text-align: center;
background-color: #fff;
padding: 1px;

	
}

.rowy div:first-child{
	text-align: left;
	background-color: #fff;
}*/

/*-------------PAGINA-PRINCIPAL---------*/

.title_1{
	font-size: 60px;
	color: #fff;
	text-align: center;
	margin: 0px;
	font-weight: bold;
	word-spacing: 50%;
	


}

.title_2{
	
	color:#213484;
	font-size: 50px;
	text-align: center;



}
.title_3{
	color:#fff;
	font-size: 50px;
	text-align: right;

}

.imgtar img{
	width: 100px;
	text-align: left;
}

/*--------------- TEXTO CLAVE----------------------------*/
.t1{
	font-size: 35px;
	color:#fff;
	text-align:center;
	font-weight: bold;
	word-spacing: 20px;
}
.t2{
	font-size: 35px;
	color:#213484;
	text-align:center;
	font-weight: bold;
	word-spacing: 20px;
}
.p3{
	font-size: 30px;
	text-align:center;
	
}

.txtPass{

  color: #fff
  font-size: 10px;
  
  border-style : none;
  border-bottom: 2px dashed black;
  background-color: inherit;
  text-align:center;

}

/*------------------- 001*/

.contenido1{
	color:#213484;
	display: flex;
	align-items: center;
	justify-content: right;
	font-size: 20px;
	font-weight: bold;
	word-spacing: 20px;
	letter-spacing: 10px;
}

.textP1{

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	word-spacing: 20px;
	letter-spacing: 10px;
	margin-top: 1px;
}
.textP2{

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
	color:#213484;
	word-spacing: 20px;
	letter-spacing: 10px;
}

.contenido01_P3{
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 20px;
	font-weight: bold;
	color:#213484;

}

.contenido02_P3{
	display: flex;
	align-items: center;
	justify-content: right;
	font-size: 20px;
	font-weight: bold;
	color:#213484;

}

.contenido01_P6{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: bold;
	color:#213484;
	
}